/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Aug 2019, 3:22:43 PM
    Author     : LeopoldR
*/

html {
    height:100%;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.help-block-extra {
    display: inline-block;
}
.panel-heading {    
    background-color: #f8f9fa!important;
    font-weight: bold;
    font-size: 20px;    
    position: relative;
    display: block;
    margin-bottom: 15px;
    height: 60px;
    padding: 15px;
}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!)  */ 
}

.alert {
    text-align: center;
}

.hero-circle {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    border: 8px solid #F5891F;
    border-radius: 50%;
}

.hero-face {
    width: 100%;
    height: 100%;
}

.hero-face:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: black;
    border-radius: 6px;
    content: "";
    display: block;
}

.hero-hour {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 -4px -25%;
    padding: 4px 0 4px 25%;
    background: black;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 4px 0 0 4px;
}

.hero-minute {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -3px 0;
    padding: 40% 3px 0;
    background: black;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 3px 3px 0 0;
}

.hero-second {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    background: black;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

#clock-display > h2 {
    margin: 40px 0px;
}

.hero-display :first-child {
    margin: 68px 0px 62px 63px;
    text-align: center;
    font-weight: bold;
    width: 40px;
    height: 34px;
}

.login-image {         
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(/images/main.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: local;
    filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius='6')";
    -ms-filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius='6')";
}

.login-box {
    box-shadow: 0 0 50px 5px rgba(0,0,0,0.3), 0 0 5px -1px white;    
    width: 400px;
    padding: 1em;
    padding-bottom: 1em;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 15%;
    margin-left: -200px;
    border-radius: 5px;
    background-color:  #1B75B9;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: #007ec5;
}
.nav-tabs>li {    
    border: none;
    border-radius: 0;
    font-size: 11px;
    line-height: 1.5em;    
    text-transform: uppercase;
    padding: 12px 6px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    letter-spacing: -0.02em;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    border-right: 1px solid #e4e7ed;
    background-color: #31404b;
    white-space: nowrap;
}

.navbar-default{
    background-color:#221F1F !important;
    border-color: transparent !important;
    height: 95px;
    font-family: "Lato", sans-serif!important;
}
.navbar {  
    margin-bottom: 0px !important;
}
.navbar-collapse {
    background-color: black;
}
.navbar-nav>li {
    position: relative;
    display: block;
    padding-top: 20px;
    color: #fff;
    line-height: 1px !important;    
}
.navbar-nav>li>a {
    position: relative;
    display: block;
    padding-top: 20px;
    color: #fff !important;
    padding:10px;  
}
